body {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	background:#fafafa;
	/*background:url(../images/body_bg.jpg) no-repeat #fff; background-size:100% auto;*/
}
img {
	width: 100%;
}
li{ list-style:none;}
header{ padding:30px 0 30px 0; position:relative;}
.page_wrap{ max-width:1008px; margin:0px auto;}
header {
    background: url("../images/header_bg.png") repeat-x scroll left bottom #fff;
    margin: 0;
    overflow: hidden;
    padding: 22px 0;
}
.logo{ width:219px; }
.header_right ul{ padding:0px; margin:0px; width:auto; float:right;}
.header_right ul li a{ color:#5a5a5a; font-family: 'Oxygen', sans-serif; font-size:16px; font-weight:bold; text-decoration:none;}
.header_right ul li { font-family: 'Open Sans', sans-serif; color:#5a5a5a; font-size:14px; display:inline; }
.header_right ul li a.email{ color:#ed5819;  font-family: 'Open Sans', sans-serif;  font-size:14px; font-weight:normal;}
.header_right ul li a:hover{ color:#000;}
.header_right{ margin-top:10px;}
.body_content{ padding:0px 0 60px 0; margin:0px; overflow:hidden;}
.body_topart{ padding:0px; margin:0px; overflow:hidden;}
.free_course{ width:250px; margin:0px auto; padding:50px 0px;}
.free_course strong{ font-family: 'Open Sans', sans-serif; font-size:14px; color:#1b1b1b; font-weight:bold; text-transform:uppercase;}
.free_course p{ margin:0px; font-family: 'Open Sans', sans-serif; font-size:14px; color:#1b1b1b; font-weight:normal;}
.free_course i{ font-style:italic; font-weight:300; font-size:20px; text-transform:none; color:#1b1b1b; margin-right:3px;}
.free_course p span.red{ background:#ed2123; padding:5px 10px; color:#fff; font-weight:normal; margin:0px 5px;}
.free_course p span.blue{ background:#3594d8; padding:5px 10px; color:#fff; font-weight:normal; margin:0px 5px;}
.banner_section{ padding:0px; margin:0px;}
.video_wrap iframe{ width:100%;}
.video_cnt{
	 background: none repeat scroll 0 0 #3594d8;
    height: 325px;
    overflow: visible;
    position: relative;
}
.arrow_node {
    left: -28px;
    position: absolute;
    top: 25px;
}
.video_desc_inner{
	 padding: 0 30px;
}
.video_cnt h1{ font-family: 'Open Sans', sans-serif; font-size:60px; font-weight:800; color:#fff; text-transform:uppercase; line-height:60px; margin-bottom:0px; padding-top:10px; }
.video_cnt h3{ margin-top:0px; font-family: 'Open Sans', sans-serif; font-weight:300; font-size:40px; color:#fff; text-transform:uppercase; line-height:42px; margin-bottom:0px;}
.video_cnt  p{ font-family: 'Open Sans', sans-serif; font-size:15px; color:#fff; }
.page_cnt_section_inner{ padding:0px; margin:0px; background:#fff; padding:70px 0px 40px;}
.page_cnt_section_inner h3{ margin-top:0px; font-family: 'Open Sans', sans-serif; font-weight:bold; font-size:16px; color:#1b1b1b; text-transform:uppercase; text-align:center;}
.page_cnt_section_inner p{ font-family: 'Open Sans', sans-serif; font-size:14px; color:#6e6e6e; line-height:25px; text-align:center;}
.page_cn_wrap{ width:880px; margin:0px auto;}
.click_info_sec{ padding:20px 0px 15px; background:#8dd169; overflow:hidden;}
.click_here{ width:380px; margin:0px auto;}
.click_here p{font-family: 'Open Sans', sans-serif; font-weight:normal; color:#fff; font-size:20px; font-weight:normal; margin:12px 0 0 0; float:left;}
.download_button {
    float: right;
    width: 52px;
}
footer{ background:#252525; padding:17px 0;}
.social_links {
    float: right;
    width: 150px;
	margin-top:10px;
}
.social_links ul {
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
}
.social_links ul li {
    float: left;
    list-style: outside none none;
    padding-left: 4px;
    width: 32px;
}
.logo_icon{ width:46px; float:left;}
.footer_left_cnt p{ font-family: 'Open Sans', sans-serif; font-weight:normal; color:#fff; font-size:11px; margin-bottom:0px; margin-top:5px;}
.footer_menu ul{ padding:0px; margin:0px;}
.footer_menu ul li{background: url("../images/footer_border.png") no-repeat scroll right 5px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline;
    float: left;
    padding: 0 10px 0 5px;}
.footer_menu ul li a{ font-family: 'Open Sans', sans-serif; font-size:11px; color:#fff; font-weight:normal; letter-spacing:0px; text-transform:uppercase; text-decoration:none;}
.footer_left_cnt { float:left; margin-left:40px;}
.footer_menu ul li:last-child{ background:none;}
.footer_menu ul li:first-child { padding-left:0px;}
.footer_menu ul li a:hover{ text-decoration:underline;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.video_wrap iframe{ height:325px;}
}
@media (min-width: 901px) and (max-width: 1023px) {
	.page_wrap{ padding:0px 10px;}
}
@media (min-width: 751px) and (max-width: 900px) {
.page_wrap{ padding:0px 10px;}
.video_cnt h1{ font-size:58px;}
.video_cnt h3{ font-size:35px; line-height:40px;}
.video_desc_inner {
    padding: 0 22px;
}
.page_cn_wrap{ width:685px;}
.footer_left{ width:65%;}
.footer_right{ width:35%;}
.footer_left_cnt{ margin-left:22px;}
.free_course{ padding:35px 0px;}
.page_cnt_section_inner{ padding:40px 20px;}
}

@media screen and (max-width:750px) {
.page_wrap{ padding:0px 15px;}
.header_left{ width:50%;}
.header_right{ width:50%;}
.header_right ul{ text-align:right;}
.free_course{ padding:33px 0px;}
.arrow_node{ display:none;}
.video_cnt{ margin-top:-4px;}
.video_wrap iframe{ height:470px !important;}
.video_cnt h3{ font-size:38px; width:auto; display:inline; }
.video_cnt h1{ margin-top:0px; width:auto; display:inline;}
.video_cnt{ min-height:100px; padding-bottom:20px; padding-top:35px; height:auto;}
.page_cn_wrap{ width:450px;}
.page_cnt_section_inner h3{ line-height:35px; }
.page_cnt_section_inner{ padding:30px 0;}
.social_links{ width:112px; margin:0px auto; float:none; padding-top:10px;}
.footer_left {
    display: block;
    float: none;
    margin: 0 auto;
    width: 392px;
}
.footer_left_cnt {
    float: left;
    margin-left: 20px;
}
.video_cnt{ margin-top:-5px;}
}
@media screen and (max-width:479px) {
	.header_left{ width:100%; text-align:center;}
	.header_right{ width:100%; text-align:center;}
	.logo{ margin:0px auto;}
	.header_right ul li{ width:100%; text-align:center;}
	.header_right ul{ text-align:center; width:100%;;}
	.header_right ul li{ display:block;}
	.video_desc_inner{ padding:0px 15px;}
	.video_cnt h1{ font-size:50px;}
	.video_cnt h3{ font-size:32px; line-height:35px;}
	.page_cn_wrap{ width:280px;}
	.page_cnt_section_inner h3{ font-size:15px; line-height:23px;}
	.click_here{ width:260px;}
	.click_here p{ font-size:17px; line-height:40px;}
	.click_here {
    text-align: center;
    width: 260px;
}

.download_button {
    display: inline-block;
    float: none;
    width: 52px;
}
.footer_left{ width:300px;}
.footer_left{ text-align:center;}
.logo_icon{ float:none; display:inline-table;}
.footer_left_cnt{ margin-left:0px;}
.footer_left_cnt p{ font-size:10px;}
.footer_menu ul li a{ font-size:10px;}
}

